#topbar {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100%;
    height: 40px;
    background-color: rgb(37, 39, 122);
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #161925;
}

body {
    padding-top: 40px;
    color: white;
    background-color: rgb(13, 13, 13);
}

input {
    background-color: rgb(39, 39, 39);
    border: solid rgb(79, 79, 79) 2px; 
    color: white;
    padding-left: 25px;
    font-size: 20px;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    width: 500px;
    height: 50px;
}